  <nav class="navbar navbar-default navbar-fixed-top" id="gp-nav">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="index.html">News</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="showcase.html">Showcase</a></li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="policies.html">Policies and FAQ</a></li>
          <li><a href="https://medium.com/woo-game-pile">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>

<br />
<br />
<div class="container">
