  <nav class="navbar navbar-default navbar-fixed-top" id="crNav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="{{ '/assets/img/navbar-brand.png' }}">
        </a>
        <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}">News</a></li>
          <li><a href="{{ site.baseurl }}{{ events }}">Events</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="{{ site.baseurl }}{{ showcase }}">Showcase</a></li>
          <li><a href="{{ site.baseurl }}{{ policies }}">Policies and FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>

<br /><br /><br />
<div class="container">
