---
---

$primary: #222B91;
$menuColors: #F70185;

body {
  padding-top: 50px;
  padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: $primary !important;
}

body > h2, h3, h4, h5, h6 {
	color: $primary !important;
}
