<!DOCTYPE html>
<!-- CODE ON THIS PAGE BASED UPON TWITTER BOOTSTRAP 'Cover' EXAMPLE -->
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="{{ '/bootstrap/dist/css/bootstrap.min.css?v=' }}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ '/assets/css/ie10-viewport-bug-workaround.css' }}" rel="stylesheet">

    <!-- Custom styles for Bootstrap Cover Template Example -->
    <link href="{{ '/assets/css/cover.css?v=' }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a class = "active" href="index.html">Home</a></li>
                  <li><a href="events.html">Events</a></li>
                  <li><a href="showcase.html">Showcase</a></li>
                  <li><a href="resources.html">Resources</a></li>
                  <li><a href="policies.html">Policies and FAQ</a></li>
                  <li><a href="https://medium.com/woo-game-pile">Blog</a></li>
                </ul>
              </nav>
            </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to the Worcester Game Pile</h1>
            <p class="lead">The Worcester Game Pile (Woo! Game Pile, for short) is a Central MA meetup for indie, studio, student, aspiring, and potential gamedevs. Whether you've been making games since Infocom was making text-adventures in downtown Cambridge, or are taking your first Game Design course in Highschool, this is a great place to meet fellow developers. Don't make games? That's okay too, we're always happy to meet people curious about what the journey to releasing a videogame is all about.</p>
            <p class="lead">
              <a href="events.html#next" class="btn btn-lg btn-default">June 2017 Event</a>
            </p>
          </div>
        </div>
      </div>      
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ "/assets/js/vendor/jquery.min.js" }}"><\/script> ')</script>
    <script src="{{ '/bootstrap//dist/js/bootstrap.min.js?v=' }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ '/assets/js/ie10-viewport-bug-workaround.js' }}"></script>

  </body>
</html>
